$font-stack: "Lato", 'Times New Roman', Times, serif;

.wrapper {
  margin: auto;
  width: 760px;
  height: 360px;
  padding: 2em 0;
}

.Wether-Container {
  margin: auto;
  border: 2px solid lightgray;
  padding: 20px 30px;
  background-color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 300px;
}

.vl {
  border-left: 2px solid lightgray;
  padding-left: 1px;
  padding-right: 3px;
  height: 180px;
}

.side {
  height: 200px;
}

form {
  div {
    font-size: 14px;
    font-family: $font-stack;
  }
}

.lable-line {
  display: block;
}

.input-text {
  margin-top: 12px;
  font-size: 18px;
  height: 24px;
  width: 250px;
}

.padme {
  margin-left: 80px;
}

.shadow {
  margin: auto;
  border-radius: 4px;
  border-style: groove;
  border-color: white;
  width: 280px;
  height: 200px;
  background-color: white;
}

.weather-content {
  display: flex;
}

.weather-info {
  margin: 1px 15px;
}

.big-temp {
  margin: 0;
  font-size: 32px;
  font-weight: bold;
}

.title {
  margin: 20px;
}

.city {
  margin: 2px;
  font-size: 18px;
  font-family: $font-stack;
}

.wind {
  margin: 2px;
  font-size: 12px;
  font-family: $font-stack;
}